
@{
    ViewBag.Title = "PostDetail";
}

<style>
    .nupacachi-content {
        margin-top: 25px;
    }
</style>

<div class="container">
    <div class="breadcrumbs-top">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="@Url.Action("Indexx", "ChupAnh")">Chụp ảnh</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="/ChupAnh/Category?id=@ViewBag.Detail.PhotoCategoryId">@ViewBag.Detail.PhotoCategoryName</a></li>
                <li class="breadcrumb-item active" aria-current="page">@ViewBag.Detail.Title</li>
            </ol>
        </nav>
    </div>


    <div class="panel">
        <div class="panel-body">
            <div class="row">
                @foreach (var item in ViewBag.Detail.LstMedia)
                {
                    <div class="col-md-4">
                        <div class="member-item">
                            <div class="item wow fadeInRight">
                                <div class="item-img">
                                    <a class="d-block mb-4" data-fancybox="images" href="@item.ImgPath">
                                        <img class="img-fluid" src="@item.ImgPath">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
