
@{
    ViewBag.Title = "Category";
}

<style>
    .nupacachi-content {
        margin-top: 25px;
    }
</style>

<div class="container">
    <div class="breadcrumbs-top">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="@Url.Action("Index", "QuayPhim")">Quay phim</a></li>
                <li class="breadcrumb-item active" aria-current="page">@ViewBag.Category.Title</li>
            </ol>
        </nav>
    </div>


    <div class="panel">
        <div class="panel-body">
            <div class="row">
                @foreach (var item in ViewBag.Category.LstChild)
                {
                <div class="col-md-4">
                    <div class="member-item">
                        <div class="item wow fadeInRight">
                            <div class="item-img">
                                <a href="" data-src="@item.VideoUrl" data-fancybox="video">
                                    <img class="img-fluid" src="@item.ThumbPath" alt="">
                                </a>
                                <div class="item-content">
                                    <div class="content">
                                        <a href="@item.ThumbPath" data-src="@item.VideoUrl" data-fancybox="video">
                                            <i class="fas fa-play"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3 class="text-center"><a href="">@item.Title</a></h3>
                </div>
                }
            </div>
        </div>
    </div>
</div>
