@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="panel ">
        <div class="panel-heading"><div class="left"><h2>Dịch vụ chụp ảnh</h2></div> <div class="right"><a href="@Url.Action("Index", "ChupAnh")">+ Xem thêm</a></div></div>
        <div class="panel-body">
            <div class="row">
                @foreach (var item in ViewBag.PhotoLst)
                {
                    <div class="col-md-4">
                        <div class="member-item">
                            <div class="item wow fadeInRight">
                                <div class="item-img">
                                    <a href="/ChupAnh/Category?id=@item.Id">
                                        <img class="" src="@item.ThumbPath" alt="">
                                    </a>
                                    <div class="item-content">
                                        <div class="content"><a href="/ChupAnh/Category?id=@item.Id">@item.Title</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="panel video">
        <div class="panel-heading"><div class="left"><h2>Quay phim</h2></div> <div class="right"><a href="@Url.Action("Index", "QuayPhim")">+ Xem thêm</a></div></div>
        <div class="panel-body">
            <div class="row">
                @foreach (var item in ViewBag.CameraLst)
                {
                    <div class="col-md-4">
                        <div class="member-item">
                            <div class="item wow fadeInRight">
                                <div class="item-img">
                                    <a href="#" data-src="@item.VideoUrl" data-fancybox="video">
                                        <img class="img-fluid" src="@item.ThumbPath" alt="">
                                    </a>
                                    <div class="item-content">
                                        <div class="content">
                                            <a href="@item.ThumbPath" data-src="@item.VideoUrl" data-fancybox="video">
                                                <i class="fas fa-play"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3 class="text-center"><a href="/QuayPhim/Category?id=@item.Id">@item.Title</a></h3>
                    </div>
                }
            </div>
        </div>
    </div>

    @*@if (ViewBag.OtherLst.Count > 0)
    {
        <div class="panel ">
            <div class="panel-heading"><div class="left"><h2>Báo giá</h2></div> <div class="right"><a href="@Url.Action("Index", "BaoGia")">+ Xem thêm</a></div></div>
            <div class="panel-body">
                <div class="row">
                    @foreach (var item in ViewBag.PriceLst)
                    {
                        <div class="col-md-4">
                            <div class="member-item">
                                <div class="item wow fadeInRight">
                                    <div class="item-img">
                                        <a href="">
                                            <img class="" src="@item.ThumbPath" alt="">
                                        </a>
                                        <div class="item-content">
                                            <div class="content"><a href="">@item.Title</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h3 class="text-center"><a href="#">@item.Title</a></h3>
                        </div>
                    }
                </div>
            </div>
        </div>
    }*@

    @if (ViewBag.PriceLst.Count > 0)
    {
        <div class="panel ">
            <div class="panel-heading"><div class="left"><h2>Báo giá</h2></div> <div class="right"><a href="@Url.Action("Index", "BaoGia")">+ Xem thêm</a></div></div>
            <div class="panel-body">
                <div class="row">
                    @foreach (var item in ViewBag.PriceLst)
                    {
                        <div class="col-md-4">
                            <div class="member-item">
                                <div class="item wow fadeInRight">
                                    <div class="item-img">
                                        <a href="/BaoGia//Detail?id=@item.Id">
                                            <img class="" src="@item.ThumbPath" alt="">
                                        </a>
                                        <div class="item-content">
                                            <div class="content"><a href="/BaoGia//Detail?id=@item.Id">@item.Title</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h3 class="text-center"><a href="/BaoGia//Detail?id=@item.Id">@item.Title</a></h3>
                        </div>
                    }
                </div>
            </div>
        </div>
    }

    <div class="panel ">
        <div class="panel-heading"><div class="left"><h2>CẢM NHẬN CỦA KHÁCH HÀNG</h2></div> <div class="right"><a href="#">+ Xem thêm</a></div></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="item-khach-hang">
                        <div class="item-content">
                            <div class="item-imge">
                                <img class="" src="~/assets/img/feedback/fb_01.jpg" alt="">
                            </div>
                            <div class="item-desc">
                                <div class="content">
                                    <p>Vợ chồng mình rất hài lòng với dịch vụ chụp ảnh cưới tại +84 Studio. Cảm ơn ekip đã thực hiện bộ ảnh cưới của vợ chồng mình. Hạnh phúc nhất là khi chia sẻ những bức ảnh cưới ấy lại nhận được những lời khen trầm trồ của mọi người. Hãnh diện lắm, vui lắm, cảm thấy rất hài lòng về công sức và chi phí mình đã bỏ ra.</p>
                                    <h3>Cặp đôi: Trang & Nam</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="item-khach-hang">
                        <div class="item-content">
                            <div class="item-imge">
                                <img class="" src="~/assets/img/feedback/fb_02.jpg" alt="">
                            </div>
                            <div class="item-desc">
                                <div class="content">
                                    <p>
                                        Sau khi sử dụng dịch vụ chụp ảnh cưới tại +84 Studio, vợ chồng mình thấy rất hài lòng nên đã quyết định sử dụng luôn dịch vụ quay phim chụp ảnh cưới tại đây. Đến giờ mới thôi, khi cái ngày trọng đại ấy được diễn ra thành công tốt đẹp cùng những thước phim, bức ảnh chụp ngày cưới hoàn mỹ khiến vợ chồng mình hạnh phúc và hài lòng về quyệt định lúc trước.
                                    </p>
                                    <h3>Cặp đôi: An & DƯƠNG</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="item-khach-hang">
                        <div class="item-content">
                            <div class="item-imge">
                                <img class="" src="~/assets/img/feedback/fb_03.jpg" alt="">
                            </div>
                            <div class="item-desc">
                                <div class="content">
                                    <p>
                                        Lần đầu tiên được ra nước ngoài và cũng là lần đầu tiên được chụp ảnh cưới dù vợ chồng tôi đã kết hôn hơn 30 năm rồi. Cảm ơn +84 Studio đã đồng hành cùng vợ chồng tôi suốt khoảng thời gian chúng tôi tại đất nước Hàn Quốc xa xôi ấy, cảm ơn các bạn đã giúp chúng tôi lưu lại những khoảnh khắc tuyệt vời ấy và cảm ơn các bạn đã giúp chúng tôi thực hiện sự tiếc nuối mà hơn 30 năm trước tôi không thể cho bà ấy - Chú Dũng chia sẻ.
                                    </p>
                                    <h3>Cặp đôi: Tiến & DƯƠNG</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="item-khach-hang">
                        <div class="item-content">
                            <div class="item-imge">
                                <img class="" src="~/assets/img/feedback/fb_04.jpg" alt="">
                            </div>
                            <div class="item-desc">
                                <div class="content">
                                    <p>
                                        Mong muốn về một bộ ảnh cưới thật độc đáo và lạ mắt, vợ chồng mình đã đi khá nhiều studio chụp ảnh cưới để được tư vấn nhưng chỉ tới khi tới với +84 Studio, xem song bản kế hoạch đầy độc đáo ấy vợ chồng mình mới cảm thấy thực sự hài lòng. Rất rất rất thích luôn ý. Rất độc đáo, rất mới lạ và thực không thể diễn tả thành lời. Chỉ có thể nói: "Cảm ơn +84 studio rất nhiều!"
                                    </p>
                                    <h3>Cặp đôi: Trang & Mạnh</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="partner">
        <div class="home-parter">
            <h3>Đối Tác Của Chúng Tôi</h3>
        </div>
        <div class="parter-content">
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <img src="~/assets/img/parter/1.jpg" alt="">
                </div>
                <div class="item">
                    <img src="~/assets/img/parter/2.jpg" alt="">
                </div>
                <div class="item">
                    <img src="~/assets/img/parter/3.jpg" alt="">
                </div>
                <div class="item">
                    <img src="~/assets/img/parter/4.jpg" alt="">
                </div>
                <div class="item">
                    <img src="~/assets/img/parter/5.jpg" alt="">
                </div>
                <div class="item">
                    <img src="~/assets/img/parter/6.jpg" alt="">
                </div>
                <div class="item">
                    <img src="~/assets/img/parter/1.jpg" alt="">
                </div>
                <div class="item">
                    <img src="~/assets/img/parter/2.jpg" alt="">
                </div>
                <div class="item">
                    <img src="~/assets/img/parter/3.jpg" alt="">
                </div>
                <div class="item">
                    <img src="~/assets/img/parter/4.jpg" alt="">
                </div>
                <div class="item">
                    <img src="~/assets/img/parter/5.jpg" alt="">
                </div>
                <div class="item">
                    <img src="~/assets/img/parter/6.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
